.header-anchor-pane {
    -fx-background-color: linear-gradient(from 100% 100% to 0% 0%, #58126a, #f6b2e1);
}

.search-hbox {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: white;
}

.search-text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-font-size: 16px;
}

.custom-calendar-btn {
    -fx-background-color: transparent;
    -fx-border-width: 0px 1px 0px 1px;
    -fx-border-color: black;
    -fx-font-size: 14px;
}

.custom-calendar-btn:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0px 1px 0px 1px;
    -fx-border-color: #5754eb;
}

.custom-calendar {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(255,255,255,0.8);
}

.root-grid-pane {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

.root-grid-pane:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 59, 20, 0.3), 15, 0, 0, 4);
}

.number-of-guests {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-font-size: 14px;
}

.guest-counter {
    -fx-background-color: lightgray;
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
}

.minus-or-plus-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}

.search-button {
    -fx-background-color: #b40acf;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 7px;
    -fx-font-weight: bold;
}

.search-button:pressed  {
    -fx-background-color: #c334d9;
    -fx-effect: none;
}

.search-button:focused  {
    -fx-effect: none;
}

.custom-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.custom-button-double {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 2.5px 0px;
    -fx-font-size: 10px;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-effect: none;
}
.custom-button-double:hover {
    -fx-cursor: hand;
    -fx-background-color: rgba(220, 220, 220);
}

.custom-button-double:focused,
.custom-button-double:pressed {
    -fx-effect: none;
}

.custom-button-double-select {
    -fx-background-color: #b40acf;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 2.5px 0px;
    -fx-font-size: 10px;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-effect: none;
}

.custom-button-double-select:hover {
    -fx-cursor: hand;
    -fx-background-color: #e028fc;
}

.custom-button-double-select:focused,
.custom-button-double-select:pressed {
    -fx-effect: none;
}

.custom-button-double-stack {
    -fx-background-color: rgba(180, 10, 207, 0.3);
    -fx-background-radius: 0px;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
}

.custom-button-double-disable {
    -fx-background-color: rgba(220, 220, 220);
    -fx-background-radius: 0px;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-padding: 2.5px 0px;
    -fx-font-size: 10px;
    -fx-text-fill: rgba(100, 100, 100);
}

.custom-directions-label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.popular-destinations-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.hotel-name-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.hotel-rating-hbox {
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
    -fx-border-color: transparent;
    -fx-background-color: rgba(170,170,170,0.6);
}

.hotel-rating-label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
    -fx-font-weight: bold;
}

.hotel-count-rating-label {
    -fx-font-size: 12px;
    -fx-text-fill: rgba(60,60,60);
}

.room-small-price {
    -fx-text-fill: #b40acf;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.room-actual-price {
    -fx-strikethrough: true;
    -fx-fill: #969696;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.select-button {
    -fx-background-color: rgba(230,230,230);
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: #b40acf;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.select-button:hover {
    -fx-background-color: rgba(180,180,180);
}

.list-view {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.sort-button-hbox {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.sort-button-hbox:hover {
    -fx-background-color: rgba(230, 230, 230);
}

.filter-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.feature-label {
    -fx-background-color: rgba(200,200,200, 0.8);
    -fx-text-fill: rgba(100,100,100);
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 10px;
    -fx-padding: 2px 10px;
}

.scroll-button {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.back-button {
    -fx-background-color: #b40acf;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 59, 20, 0.3), 15, 0, 0, 4);
}

.back-button:hover {
    -fx-background-color: #c334d9;
}

.back-button-double {
    -fx-background-color: rgba(235,235,235);
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 59, 20, 0.3), 15, 0, 0, 4);
}

.back-button-double:hover {
    -fx-background-color: rgba(220,220,220);
}

.sort-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.sort-button-text {
    -fx-font-size: 16px;
}

.popup {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 59, 20, 0.3), 15, 0, 0, 4);
}

.filters-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.close-button {
    -fx-background-color: rgba(220,220,220);
    -fx-border-color: transparent;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.close-button:hover {
    -fx-background-color: rgba(170,170,170);
}

.close-button:focused {
    -fx-effect: none;
}

.reset-button {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-border-color: #c995c8;
    -fx-text-fill: #b40acf;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.reset-button:hover {
    -fx-border-color: #a009b8;
}

.show-result-button {
    -fx-background-color: #b40acf;
    -fx-border-width: 0px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.show-result-button:hover {
    -fx-background-color: #a009b8;
}

.text-field-from-or-before {
    -fx-background-color: white;
    -fx-background-radius: 12px;
    -fx-border-color: rgba(170,170,170);
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-font-size: 16px;
    -fx-padding: 7px;
}

.text-field-from-or-before:focused {
    -fx-border-color: #a009b8;
}

/* Общие стили для обоих ползунков (низкого и высокого) */
.range-slider .low-thumb,
.range-slider .high-thumb {
    -fx-background-color: #b40acf;
    -fx-background-radius: 10px; /* половина от 20px – делает круг */
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-max-height: 20px;
    -fx-max-width: 20px;
    -fx-focus-color: transparent;      /* убирает стандартную синюю обводку фокуса */
    -fx-faint-focus-color: transparent; /* убирает дополнительную обводку */
}

.range-slider .low-thumb:hover,
.range-slider .high-thumb:hover {
    -fx-cursor: hand;
    -fx-background-color: #da4df0;
}

.range-slider .low-thumb:focused,
.range-slider .high-thumb:focused {
    -fx-effect: none;          /* убирает свечение/тень */
    -fx-scale-x: 1;            /* сбрасывает возможное масштабирование */
    -fx-scale-y: 1;
    -fx-background-insets: 0;
}

.range-slider .track {
    -fx-background-color: rgba(220,220,220);
}

.range-slider .range-bar {
    -fx-background-color: #b40acf;
}

.hint-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.button-star-selected {
    -fx-border-width: 1px;
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: rgba(200,200,200);
}

.button-star-selected-select {
    -fx-background-color: #da4df0;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 0px;
}

.button-star-selected-select {
    -fx-effect: none;
}

.above-fore {
    -fx-background-color: #0bb527;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px;
}

.above-three {
    -fx-background-color: #7fb50b;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px;
}

.above-two {
    -fx-background-color: #cbdb16;
    -fx-text-fill: black;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px;
}

.any-rating {
    -fx-background-color: rgba(230,230,230);
    -fx-text-fill: black;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px;
}

.show-many-button {
    -fx-background-color: rgba(218, 77, 240, 0.3);
    -fx-background-radius: 10px;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
    -fx-font-size: 16px;
    -fx-text-fill: #b40acf;
    -fx-padding: 10px;
}

.show-many-button:hover {
    -fx-background-color: rgba(218, 77, 240, 0.5);
}

.scroll-pane {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-color:transparent;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: rgba(220, 220, 220, 0.5);
    -fx-background-radius: 8px;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(160, 160, 160, 0.7);
    -fx-background-radius: 8px;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-arrow {
    -fx-opacity: 0px;
    -fx-background-color: transparent;
    -fx-effect: none;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow:hover,
.scroll-pane .scroll-bar:vertical .increment-arrow:hover {
    -fx-opacity: 0px;
    -fx-background-color: transparent;
    -fx-effect: none;
}

.scroll-pane .scroll-bar:vertical .decrement-arrow:pressed,
.scroll-pane .scroll-bar:vertical .increment-arrow:pressed {
    -fx-opacity: 0px;
    -fx-background-color: transparent;
    -fx-effect: none;
}

.text-field-email {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-background-color: rgba(235,235,235);
    -fx-border-width: 1.5px;
    -fx-border-color: transparent;
}

.text-field-email:hover {
    -fx-background-color: rgba(220,220,220);
}

.text-field-email:focused {
    -fx-border-color: #da4df0;
    -fx-background-color: white;
}

.hint-label-registration {
    -fx-font-weight: bold;
    -fx-text-fill: rgba(160,160,160);
}

.documents-button {
    -fx-padding: 0px;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: rgba(160,160,160);
    -fx-border-color: rgba(180,180,180);
    -fx-border-radius: 0px;
    -fx-font-weight: bold;
}

.documents-button:hover {
    -fx-text-fill: #da4df0;
    -fx-border-color: #da4df0;
}

.error-verification-label {
    -fx-text-fill: rgba(130,0,0);
    -fx-font-weight: bold;
}

.welcome-header {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.welcome-foot {
    -fx-font-weight: bold;
}

.welcome-header-text-flow {
    -fx-background-color: rgba(218, 77, 240, 0.3);
    -fx-background-radius: 12px;
}

.fill-later {
    -fx-background-color: rgba(235,235,235);
    -fx-border-width: 0px;
    -fx-background-radius: 12px;
    -fx-text-fill: rgba(180,180,180);
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.fill-later:hover {
    -fx-background-color: rgba(210,210,210);
    -fx-text-fill: rgba(165,165,165);
}

.combo-box,
.combo-box .list-cell,
.combo-box .arrow-button,
.combo-box .text-field {
    -fx-background-color: transparent;
}

.combo-box {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color: rgba(235,235,235);
    -fx-border-width: 1.5px;
    -fx-border-color: transparent;
}

.combo-box :hover {
    -fx-cursor: hand;
}


.combo-box .arrow-button {
    -fx-background-color: rgba(235,235,235);
    -fx-background-radius: 0px 8px 8px 0px;
    -fx-border-radius: 0px 8px 8px 0px;
    -fx-border-color: #da4df0;
    -fx-border-width: 1.5 1.5 1.5 0;
    -fx-pref-width: 10px;
}

.combo-box .list-view {
    -fx-background-color: white;
    -fx-border-color: #ddd;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.combo-box .list-cell {
    -fx-text-fill: rgba(170, 170, 170);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-width: 1.5px;
    -fx-border-color: transparent;
}

.combo-box .list-cell:hover {
    -fx-background-color: rgba(235, 235, 235);
}

.combo-box .list-cell:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 8px 0px 0px 8px;
    -fx-border-radius: 8px 0px 0px 8px;
    -fx-border-color: #da4df0;
    -fx-border-width: 1.5 0 1.5 1.5;
}

.set-hand-cursor:hover {
    -fx-cursor: hand;
}

.count-image-label {
    -fx-font-size: 14;
    -fx-background-radius: 6;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-background-color: rgba(220, 220, 220);
}

.images-list-view {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-vbar-policy: never;
}

.images-list-view .list-cell {
    -fx-padding: 0 2.5;
    -fx-background-color: transparent;
}

.images-list-view .list-cell:selected {
    -fx-background-color: #b40acf;
    -fx-background-radius: 15;
}

.images-list-view .scroll-bar:vertical,
.images-list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.images-list-view .scroll-bar:vertical {
    -fx-vbar-policy: never;
}